[Unit]
Description=Network Monitor Timer - Run speedtest every 30 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=30min
AccuracySec=10sec
Persistent=true

[Install]
WantedBy=timers.target
